<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
    >

    <title>
        Mock Payment — ProCash
    </title>

    <link
            rel="stylesheet"
            th:href="@{/css/public-order.css}"
            href="/css/public-order.css"
    >
</head>

<body>

<main class="mock-page">

    <section class="mock-card">

        <span class="mock-badge">
            MOCK
        </span>

        <h1>
            Freedom Pay
        </h1>

        <p class="mock-description">
            Тестовая страница оплаты
        </p>

        <div class="mock-amount">

            <span>
                К оплате
            </span>

            <strong
                    th:text="${#numbers.formatDecimal(
                    payment.amount,
                    1,
                    'WHITESPACE',
                    0,
                    'POINT'
                ) + ' ₸'}"
            >
                14 700 ₸
            </strong>

        </div>

        <form
                th:action="@{
                /payments/{id}/mock/success(
                    id=${payment.id}
                )
            }"
                method="post"
        >
            <button
                    class="mock-success-button"
                    type="submit"
            >
                Успешная оплата
            </button>
        </form>

        <form
                th:action="@{
                /payments/{id}/mock/fail(
                    id=${payment.id}
                )
            }"
                method="post"
        >
            <button
                    class="mock-error-button"
                    type="submit"
            >
                Ошибка оплаты
            </button>
        </form>

    </section>

</main>

</body>
</html>